.first-section{
    margin-top: 5%;
    padding: 0 5%;
    position: relative;
}

.first-section-header{
    margin-left: 15%;
}

.first-section__title{
    font-size: 7em;
}


.first-section__title-wrap{
    font-size: 7em;
    color: #5cc2a0;
}

.first-section__description{
    display: inline-block;
    margin-top: 2%;
    width: 40%;
    font-size: 1em;
}

.first-section-textbox-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-section-textbox{
    margin-top: 10%;
    margin-left: 2%;
    width: 225px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: rgba(214 224 233) 0px 2px 6px;
    border-radius: 32px;
}

.first-section-textbox:nth-child(1) .first-section-textbox__title{
    color: #6DA5E3;
}

.first-section-textbox:nth-child(2) .first-section-textbox__title{
    color: #44C79B;
}

.first-section-textbox:nth-child(3) .first-section-textbox__title{
    color: #B087ED;
}

.first-section-textbox:nth-child(4) .first-section-textbox__title{
    color: #AE2536;
}

.first-section-textbox > img{
    margin-top: 10%;
    margin-left: 10%;
}

.first-section-textbox__title{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 1em;
}

.first-section-textbox__description{
    width: fit-content;
    margin: 10% 20% 20% 10%;
    font-size: 1em;
}

.first-section__background{
    position: absolute;
    width: 102%;
    height: 85%;
    top: 8%;
    left: -100px;
    z-index: -1;
    background-color: rgba(188, 206, 224, 0.12);
    border: solid 1px rgba(188, 206, 224, 0.12);
    border-radius: 40px;
}

@media screen and (max-width: 1000px){

    .first-section-header{
        margin-left: 0;
    }

    .first-section__title{
        font-size: 3em;
    }

    .first-section__title-wrap{
        font-size: 3em;
    }

    .first-section__description{
        width: 100%;
    }
}