.second-section{
    margin-top: 10%;
    padding: 0 5%;
}

.second-section-header{
    margin-left: 15%;
}

.second-section__title{
    font-size: 7em;
    line-height: 112px;
}

.second-section__description{
    display: inline-block;
    margin-top: 2%;
    width: 50%;
    font-size: 1em;
}

.second-section-content{
    margin: 5% 0 0 10%;
    display: flex;
    justify-content: center;
}

.second-section-image-mobile{
    display: none;
}

.second-section-textbox{
    margin-left: 20%;
    display: flex;
    align-items: flex-start;
}

.second-section-textbox:not(:first-child){
    margin-top: 10%;
}

.second-section-textbox > img{
    margin-right: 5%;
}

.second-section-textbox__title{
    font-size: 36px;
    line-height: 44px;
}

.second-section-textbox__description{
    margin: 2% 15% 10% 0;
}

@media screen and (max-width: 800px) {
    
    .second-section-header{
        margin-left: 0%;
    }

    .second-section__title{
        font-size: 56px;
        line-height: 60px;
    }

    .second-section__description{
        width: 100%;
        margin-top: 5%;
        line-height: 24px;
    }

    .second-section-content{
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .second-section-content-textboxes{
        padding: 10% 0 0 20%;
    }

    .second-section-textbox{
        
    }

    .second-section-image-desktop{
        display: none;
    }

    .second-section-image-mobile{
        display: unset;
        margin-top: 20%;
        margin-left: 15%;
    }

    .second-section-textbox{
        margin-left: 0;
    }
}

@media screen and (min-width:2116px){

    .second-section{
        margin: 10% 20%;
        margin-bottom: 0;
    }    
}